<!DOCTYPE html>
<html>
<head>
<title>The Gossip Project</title>
</head>

<body>
<h1>  Bienvenue <%= params["id"]%> </h1>
<h3>Ici c'est notre super site de potins, il est chouette, non ? </h3>
</body>
</html>