<!--  <h1>Team#show</h1>
  <p>Find me in app/views/team/show.html.erb</p>
-->
</br>
<h2> Que des n° 10 : </h2> </br>

<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="https://www.pipotronic.com/img/corporate/49.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Chris</h5>
      <p class="card-text">Un visionnaire et acharné du travail, il saura toujours atteindre ses objectifs. Un véritable meneur d'hommes. Notre Didier Deschamps à nous.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://www.pipotronic.com/img/corporate/60.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Flo</h5>
      <p class="card-text">Il a le business dans la peau et flaire les bonnes affaires à des kilomètres. AKA Le loup de Wall Street.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://www.pipotronic.com/img/corporate/25.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Ugo</h5>
      <p class="card-text">Dynamique et talentueux, il a plus d'un tour dans son sac. Il est la véritable pierre angulaire de The Gossip Project: Inspecteur Gadget</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://www.pipotronic.com/img/corporate/63.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Mahmood</h5>
      <p class="card-text">Son rôle multi-casquette en fait un élément indispensable du projet. Le McGyver de la start-up nation.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://www.pipotronic.com/img/corporate/05.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">David</h5>
      <p class="card-text">Une énergie incroyable doublée d'un sang-froid à toute épreuve, avec lui chaque idée fait mouche: appelez-le Rocky Balboa.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://www.pipotronic.com/img/corporate/11.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Jonathan</h5>
      <p class="card-text">L'homme sans qui le projet n'aurait jamais vu le jour, il se jette dans l'aventure à bras-le-corps et est toujours prêt à aider ses compagnons: Rambo 2.0</p>
    </div>
  </div>
</div></br>
<h5> Merci à eux !</h5>


